#content-frame{
    left: 0;
    width: 100%;
    height: 250px;
    border-style: none;
}
#content-frame-send{
    width: 100%;
    height: 350px;
    border-style: none;
}
#logo-dino{
	
}

#txt-error{
	font-size:500%;
	text-align:right;
	
}
::-webkit-scrollbar { 
    display: none; 
}

.btn-contato-enviar, .btn-contato-reset{
    min-width: 5%;
    padding: 0.2%;
    font: 13px/21px "Open Sans", Arial, sans-serif;
    font-size: 120%;
    color: #CCC;
    border-style: solid;
    border-radius: 4%;
    border-width: 1px;
    border-color: #2F2D76;
    background-color: gray;
}

.btn-contato-enviar:hover, .btn-contato-reset:hover{
    background-color: #de8600;
    color: #FFFFFF;
    cursor: pointer;
}

#form_ico{
	width: 400px; 
    height: 150px; 
    left: 50%; 
    margin: -130px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 50%;
}