<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
ErrorDocument 400 /bad.html
ErrorDocument 401 /bad.html
ErrorDocument 402 /bad.html
ErrorDocument 403 /bad.html
ErrorDocument 404 /bad.html
ErrorDocument 405 /bad.html
ErrorDocument 406 /bad.html
ErrorDocument 407 /bad.html
ErrorDocument 408 /bad.html
ErrorDocument 409 /bad.html
ErrorDocument 410 /bad.html
ErrorDocument 411 /bad.html
ErrorDocument 412 /bad.html
ErrorDocument 413 /bad.html
ErrorDocument 414 /bad.html
ErrorDocument 500 /bad.html
ErrorDocument 501 /bad.html
ErrorDocument 502 /bad.html
ErrorDocument 503 /bad.html
ErrorDocument 504 /bad.html
ErrorDocument 505 /bad.html
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(iconejr\.com)(:80)? [NC]
RewriteRule ^(.*) http://www.iconejr.com/$1 [R=301,L]
DirectoryIndex index.html index.php index.htm     

# DO NOT REMOVE THIS LINE AND THE LINES BELOW PWPROTECTID:NuZyJaWuXa
AuthType Basic
AuthName "Restricted Access"
AuthUserFile /home/u642109495/public_html//.htpasswd
Require user wx_admin
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE NuZyJaWuXa:PWPROTECTID

